---
layout: archive
title: "Activities"
permalink: /portfolio/
author_profile: true
---

{% include base_path %}

<h2>Research Journeys: University of Leeds x Story Catchers</h2>
<iframe width="112" height="63" src="https://www.youtube.com/embed/oL0GmRpU9NI?si=YNVejk2c44ElnqkM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
Find out more about my and others' journeys here: <a href="https://spotlight.leeds.ac.uk/research-journeys/">here</a>

<h2> use MY data Webinar: Artificial Intelligence and Patient Data: what's the reality (Panellist) </h2>h2>
<iframe width="112" height="63" src="https://www.youtube.com/embed/J20-ACotMmg?si=78YImmYQo01tlSkK" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
Find out my about the event here: <a href="https://usemydata.org/content_db.php?page=540">here</a>


<h2> Public Engagement and Outreach </h2>
<ul>
  <li> The power of STEM & Reach for Excellence - collaborated with colleagues to design and present online and in-person sessions about the use of AI in medicine to students between 16 and 18 years old who study STEM subjects at A-level and are from underrepresented backgrounds (2021 to 2024)</li>
  <li> UK Cancer Research UK Radiotherapy Network’s - Radiotherapy and Artificial Intelligence Event (presenter, RADNET Leeds, UK, 2022)</li>
  <li> Afrovisibility in STEM Campaign (campaign member, Project Embrace, UK, 2021)</li>
  <li> The role technology can play in healthcare research (panellist, Leeds Digital Festival, 2020)</li>
  <li> Demystifying the PhD (panellist, University of Leeds, 2020); AI for a fairer world (panellist, University of Leeds, 2020)</li>
</ul>
 

<!--  <ul>{% for post in site.publications reversed %}
    {% include archive-single-cv.html %}
  {% endfor %}</ul> -->
<!--  <ul>{% for post in site.talks reversed %}
    {% include archive-single-talk-cv.html  %}
  {% endfor %}</ul> -->
<!--{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %} -->

