---
layout: archive
title: "Activities"
permalink: /portfolio/
author_profile: true
---

{% include base_path %}

<h2>Research Journeys: University of Leeds x Story Catchers</h2>
<iframe width="112" height="63" src="https://www.youtube.com/embed/oL0GmRpU9NI?si=YNVejk2c44ElnqkM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
Find out more about my and others' journeys <a href="https://spotlight.leeds.ac.uk/research-journeys/">here</a>


<!--{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %} -->

